/* 我的朋友 友链样式 */
.links-item{padding:10px 15px;font-size:14px;width:49%;box-sizing:border-box;display:inline-block;vertical-align:top;background: #fafafa;
    background: var(--light-header);border-radius: 4px;}
.links-item img{border-radius:4px;float:left;width:32px;height:32px;background: #fff;}
.links-item a{display: block;padding:0 12px;margin-left:35px;word-break: keep-all;height: 32px;overflow: hidden;}
.links-item{width:135px;margin:0 12px 8px 0;}
@media only screen and (max-width:683px) {
	.links-item{width:144px;margin:0 0 8px;}
}
.dark .links-item{background: #252627;background: var(--dark-header);}